body{
	font-size: 62.5%;
	color: #d0d167;
	background: #5e5e5b;
	font-family: Verdana, Geneva, sans-serif;
	color: #1d3750;
	overflow-y: scroll;
	overflow-x: hidden;
}

h1{
	font-size: 2em;
}

h2{
	font-size: 1.8em;
}

h3{
	font-size: 1.6em;
}

h4{
	font-size: 1.5em;
}

h5{
	font-size: 1.4em;
}

h6{
	font-size: 1.3em;
}

p{
	font-size: 1.2em;
}

span{
	font-size: 1em;
}

a{
	color: #d0d167;
}

form{
	text-align: center;
}

.center{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

header{
	background-color: #d0d167;
	color: #7a7b26;
	font-size: 1.6em;
	padding: 10px;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 15px;
}

header a{
	color: #650411;
}

.logo img{
	width: 200px;
	margin-top: -20px;
}

header .welcomeMessage{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: -80px;
	padding-bottom: 10px;
}

header .searchSite{
	float: right;
	margin-top: -50px;
}

input[type="text"].searchBox{
	margin-right: -5px;
	text-align: center;
	height: 25px;
	outline-offset: 15px;
	-moz-box-shadow: inset 0px 2px 3px 3px rgba(139, 137, 137, .4);
	-webkit-box-shadow: inset 0px 2px 3px 3px rgba(139, 137, 137, .4);
	box-shadow: inset 0px 2px 3px 3px rgba(139, 137, 137, .4);
}

input[type="submit"].searchBtn{
	color: #608cb5;
	font-size: 1.2em;
	background: #052745;
	width: 75px;
	height: 30px;
}

.post{
	background-color: #052745;
	color: #d0d167;
	font-size: 1.4em;
	opacity: 0.8;
	width: 400px;
	margin: 10px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

#fullPost{
	width: 800px;
}

.vote{
	float: left;
	margin-right: 10px;
	background: none;
}

.addForm{
	background-color: #052745;
	color: #d0d167;
	opacity: 0.8;
	width: 400px;
	margin: 10px
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.postNoComments{
	border-bottom: solid #d0d167;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

#addPostBtn{
	background-color: #d0d167;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	padding: 20px;
}

.commentContent{
	margin-left: 100px;
}

.postShow{
	font-size: 1.5em;
}

.postShowInfo{
	font-size:1em;
	margin-bottom: 15px;
}

.sadGiraffe{
	background-color: #052745;
	color: #d0d167;
	width: 500px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.deletePostBtn{
	float: right;
	margin-top: -15px;
}